{% load staticfiles %}
<aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{% static 'settlement/img/avatar3.png' %}" class="img-circle" alt="User Image" />
                </div>
                <div class="pull-left info">
                    <p>Hello, {{ user.username }}</p>

                    <a href="#"><i class="fa fa-circle text-success"></i> Admin</a>
                </div>
            </div>


            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <!--<li class="active treeview">-->
                    <!--<a href="index.html">-->
                        <!--<i class="fa fa-dashboard"></i> <span>CMS</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                        <!--<ul class="treeview-menu">-->
                            <!--<li><a href="#">Pages</a></li>-->
                            <!--<li><a href="#">Blocks</a></li>-->
                            <!--<li><a href="#">links</a></li>-->
                        <!--</ul>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-bar-chart-o"></i> <span>FX Rate</span>
                        <ul class="treeview-menu">
                            <li><a href="/settlement/rates/">Rates</a></li>
                            <li><a href="/settlement/currencies/">Currencies</a></li>
                            <li><a href="/settlement/countries/">Countries</a></li>
                        </ul>
                    </a>
                </li>
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-cogs"></i>-->
                        <!--<span>Settings</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                        <!--<ul class="treeview-menu">-->
                            <!--<li><a href="#">General</a></li>-->
                            <!--<li><a href="#">Twilio</a></li>-->
                        <!--</ul>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-user"></i>-->
                        <!--<span>Users</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-edit"></i> <span>Agent Management</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                        <!--<ul class="treeview-menu">-->
                            <!--<li><a href="#">Categories</a></li>-->
                            <!--<li><a href="#">Agents</a></li>-->
                        <!--</ul>-->
                    <!--</a>-->

                <!--</li>-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-briefcase"></i> <span>Accounting</span>
                        <i class="fa fa-angle-left pull-right"></i>
                        <ul class="treeview-menu">
                            <li><a href="/settlement/transfers/">Transfers</a></li>
                            <li><a href="/settlement/funds/">Funds</a></li>
                            <li><a href="/settlement/payments/">Payments</a> </li>
                            <!--<li><a href="#">Wema</a></li>-->
                        </ul>
                    </a>

                </li>
                <li>
                    <a href="/settlement/agents/">
                        <i class="fa fa-comments"></i> <span>Agents</span>

                    </a>
                </li>
                <li>
                    <a href="/settlement/mtos/">
                        <i class="fa fa-comments"></i> <span>MTO</span>

                    </a>
                </li>
                <!--<li>-->
                    <!--<a href="pages/calendar.html">-->
                        <!--<i class="fa fa-comments"></i> <span>Resolution Center</span>-->

                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="pages/mailbox.html">-->
                        <!--<i class="fa fa-eye"></i> <span>Footnote</span>-->

                        <!--<ul class="treeview-menu">-->
                            <!--<li><a href="#">Admin</a></li>-->
                            <!--<li><a href="#">Agents</a></li>-->
                            <!--<li><a href="#">Alerts</a></li>-->
                            <!--<li><a href="#">Ips</a></li>-->
                        <!--</ul>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="treeview">-->
                    <!--<a href="#">-->
                        <!--<i class="fa fa-envelope"></i> <span>Email</span>-->
                        <!--<i class="fa fa-angle-left pull-right"></i>-->
                    <!--</a>-->

                <!--</li>-->
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>