#auth-block{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	float: none;
	display: block;
}

body{
	background-color: #f0f0f0;
}

#auth-block form{
	padding-top: 50px;
	border-top: 3px solid green;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #f8f8f8;
	border-bottom: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
}

#dashboard-nav li{
	float: left;
}

.add-list-left-border{
	border-left: 1px solid #333333;
}

#dashboard-nav li{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 25.5px;
	padding-right: 26px;
	background-color: #1Eb056;
}

#dashboard-nav li a{
	text-decoration: none;
	color: white;
	font-size: 14px;
}


#content{
	margin-top: 80px;
}


.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none!important;
}

#page-title{
	margin-top: 50px;
	background-color: green;
	margin-bottom: 10px;
}

#page-title h1{
	color: white;
}



#block-1{
	margin-top:50px;
	padding-bottom: 20px;
	background-image:url('/static/agent_portal/img/bg.jpg')
}

#block-1 h1{
	margin-top: 120px;
	background-image: ;
}

#top-navigation{
	background-color: white;
}

#calculator{
	margin-top: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 5px 5px 5px #f8f8f8;
}



#featured-block{
	padding-top: 10px;
	padding-bottom: 20px;
}


#featured-block span{
	margin-left: auto;
	margin-right: auto;
}

#block-2{
	background-color: #ffffff;
}

#block-2 p, #block-2 h4, #block-2 h2, #featured-block p, #calculator p, footer p, #auth-block h4{
text-align: center;
}

footer{
	padding-top: 20px;
}

footer ul{
	display: block;
}

footer ul li{
	padding-right: 10px;
	float:left;
}

#balance{
	padding-top: 20px;
	padding-bottom: 20px;
	display:block;
	background-color: white;
	margin-top: 10px;
}

#dashboard-calculator p{
	text-align: center;
}

#activities-block{
	background-color: #ffffff;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#funds table, #transfers table, #activities table{
	margin-top:10px;
}

.active-tab{
	border-bottom: 3px solid #FFCC99;
}


#left-pane ul li a{
	text-decoration: none;
	color: #1Eb056;
	font-size: 30px;
}

#transaction-history li{
	float: left;
	margin-right: 20px;
}

#transaction-history li a{
	text-decoration: none;

}

.active-transaction-tab{
	border-bottom: 3px solid #ffcc99;
}

#transfer-form select, #transfer-form input{
	margin-bottom: 10px;
}

.container form input, .container form select{
    margin-bottom:10px;
}


#agent{
padding:10px;
background-color:white;
margin-right:20px;
}