<div id="balance" class="col-md-12" style="">
            <span>
              <b>NOVAPAY BALANCE</b>
              <b class="pull-right">{{ agent.country.currency.symbol }}{{ agent.account_balance | floatformat:2 }} {{ agent.country.currency.abbreviation }}</b>
            </span>

     </div>