{% load staticfiles %}
<div class="navbar-header">
          <a href="/" class="navbar-brand"><img style="width:330px;height:68px;" src="{% static 'agent_portal/img/novapay_logo.png' %}"></a>
        </div>