<div id="calculator" style="margin-top:0px;">
            <p> <b>Transfer money </b></p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-md-4">YOU SEND</label>
                <div class="row">
                  <input class="col-md-4" name="transfer_amount" id="transfer_amount">
                  <select name="currency" id="currency" class="col-md-2">

                    <option value="{{ agent.country.currency.name }}">{{ agent.country.currency.abbreviation }}</option>


                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4">RECEIVE</label>
                <div class="row">
                  <input class="col-md-4" id="receiver_amount" readonly>
                  <select>
                      <option>NGN</option>
                  </select>
                </div>
              </div>

               <div class="form-group">
                <label class="col-md-4">FEE</label>
                <div class="row">
                 <p id="fee_result"> : </p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4">Exchange Rate</label>
                <div class="row">
                 <p id="exchange_rate">1  NGN </p>
                </div>
              </div>

              <p>You will save <b id="savings"></b></p>
              <input type="submit" value="Calculate" class="btn btn-primary btn-lg col-md-12" disabled>

            </form>
          </div>