<footer class="container">
      <div class="container">
        <!--<ul class="list-unstyled">-->
          <!--<li>-->
            <!--<a href="/about-us/">About</a>-->
          <!--</li>-->

          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="/contact-us/">Contact Us</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->

          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="#">Blog</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</ul>-->
        <p>&copy;NovaPay 2014. <a href="/privacy-policy/">Privacy Policy </a> <a href="/terms-condition/"> Terms and Conditions</a></p>
      </div>
    </footer>