<ul class="nav navbar-nav pull-right">
          <li><a href="/login"><span class="label label-warning">Signin</span></a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/find-agents">Find an agent</a></li>
        </ul>