{% extends 'agent_portal/base-2.html' %}
{% load staticfiles %}

{% block middle_pane %}
    {{ block.super }}



     <div class="col-md-12" id="activities-block">

            <div>
              <h4>Request Fund</h4>
              <hr>


              <form class="form-horizontal" action="/request_fund/" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">Type</label>
                  <div class="col-md-10">
                    <select name="{{ form.type.html_name }}" class="form-control" required>

                        {% for value, text in form.type.field.choices %}
                      <option value="{{ value }}">{{ text }}</option>
                      {% endfor %}
                    </select>
                      <small>{{ form.type.errors }}</small>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label">{{ form.amount.label }}({{ agent.country.currency.symbol }})</label>
                  <div class="col-md-10">
                    <input type="number" name="{{ form.amount.html_name }}" class="form-control" required>
                      <small>{{ form.amount.errors }}</small>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputEmail3" class="col-md-2 control-label"></label>
                  <div class="col-md-10 ">
                    <input type="submit" value="Request fund" class="form-control btn btn-success">

                  </div>
                </div>
              </form>
            </div>
          </div>
{% endblock %}