{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <title></title>
       <meta name="description" content="">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'agent_portal/css/style.css' %}">
      {% block head %}
            {% include 'session_security/all.html' %}
      {% endblock %}
  </head>
  <body>
    {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-navigation">
      <div class="container">
        {% include 'agent_portal/includes/brand.html' %}

        <ul class="nav navbar-nav pull-right">
            <li><a href="/dashboard/">Home</a></li>
          <li><a href="/reset/password/">Reset Password</a></li>
          <li><a href="/logout"><span class="label label-warning">Logout</span></a></li>

        </ul>
      </div>

    </nav>

    {% endblock %}

   <div class="container" id="content">
    <div class="row">
        <div class="col-md-3" id="left-pane">
          {% block left_pane %}
            <div class="row">
                <div class="col-md-4">
                     <img style="width:60px;height:60px;" src="{% static 'agent_portal/img/user-profile.png' %}" class="img-polaroid">
                 </div>

                <div class="col-md-8">
                    <a href="">{{ agent.user.first_name}} {{ agent.user.last_name }}</a>
                     <br>
                    <span>Verified agent</span>
                 </div>
            </div>
           {% endblock %}



        </div>

        <div class="col-md-6" id="middle-pane">
          {% block middle_pane %}

            <ul class="list-unstyled" id="dashboard-nav">
            <li class="{% if page_name == 'dashboard' %}active-tab{% endif %}"><a href="/dashboard"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
            <li class="add-list-left-border {% if page_name == 'transfer' %}active-tab{% endif %}"><a href="/transfer"> <span class="glyphicon glyphicon-share"></span> Transfer</a></li>
            <li class="add-list-left-border {% if page_name == 'transactions' %}active-tab{% endif %}"><a href="/transactions/funds"><span class="glyphicon glyphicon-flash"></span> Transactions</a></li>
            <li class="add-list-left-border {% if page_name == 'request fund' %}active-tab{% endif %}"><a href="/request_fund"><span class="glyphicon glyphicon-plus-sign"></span> Add Funds</a></li>
          </ul>


          {% endblock %}
        </div>


        <div class="col-md-3" id="right-pane">
            {% block right_pane %}
                {% include 'agent_portal/includes/calculator.html' %}
            {% endblock %}
        </div>

    </div>
   </div>

    {% block footer %}
        {% include 'agent_portal/includes/footer.html' %}
    {% endblock%}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
         $(function(){



    var exchange_rates = {


    {{ agent.country.currency.name }}: {{ agent.country.currency.exchange_rate }},

    };

    var currency_symbols = {

    {{ agent.country.currency.name }}: '{{ agent.country.currency.symbol }}',


    };

    var currency_abr = {

    {{ agent.country.currency.name }}: '{{ agent.country.currency.abbreviation }}',


    };


var currency_selected = document.querySelector('#currency');
var transfer = document.querySelector('[name="transfer_amount"]');
var receiver = document.querySelector('#receiver_amount');
var fee_and_rate = document.querySelector('#fee_result');
var exchange_rate = document.querySelector('#exchange_rate');
var savings = document.querySelector('#savings');

//alert(transfer.value);

currency.onchange = function(){
   calculate();
}

$('input[name="transfer_amount"]').on("input", null, null, calculate);

var _commission = [
{% for schedule in schedules %}
    {
    'lower':{{schedule.greater_than_equal_to}},
    'upper': {{schedule.less_than_equal_to}},
    'type': '{{schedule.commission_type}}',
    'amount': {{schedule.commission}},
    },
{% endfor %}
]


function calculate(){
    var amount = parseFloat(transfer.value);
    for(counter = 0; counter < _commission.length; counter++){
        var comi = _commission[counter];
        if(amount >= comi.lower && amount <= comi.upper){
            if(comi.type == 'fixed'){
                var fee = comi.amount;

            }else{
                var fee = (comi.amount/100) * amount;

            }
        }
    }

    var amount_after_fee = amount;

    var amount_in_naira = amount_after_fee * parseInt(exchange_rates[currency_selected.value]);

    receiver.value = (parseFloat(amount_in_naira)).formatMoney(2, '.', ',');
    fee_and_rate.innerHTML =  currency_symbols[currency_selected.value] + fee;
    exchange_rate.innerHTML = "1 " + currency_abr[currency_selected.value] + " = " + exchange_rates[currency_selected.value] + "NGN";
    //savings.textContent = currency_symbols[currency_selected.value] + fee + " + hidden fees";
}


Number.prototype.formatMoney = function(c, d, t){
var n = this,
    c = isNaN(c = Math.abs(c)) ? 2 : c,
    d = d == undefined ? "." : d,
    t = t == undefined ? "," : t,
    s = n < 0 ? "-" : "",
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
    j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
 };


    });



    </script>
    <script>
      $(function () {

        $('#myTab a[href="#transfers"]').tab('show');
      })
    </script>

    <style>
            .errorlist{
                color:red;
            }
        </style>

  {% block body%}

  {% endblock %}
  </body>
</html>