{% extends 'agent_portal/base-2.html' %}

        {% block middle_pane %}
            {{ block.super }}

            {% if message %}
            <div class="col-md-12 alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endif %}





            {% if error %}
            <div class="col-md-12 alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert alert-warning" aria-hidden="true">&times;</button>
                    {{ error }}
                </div>
            {% endif %}

            {% include 'agent_portal/includes/balance-block.html' %}



            <div class="col-md-12" id="activities-block">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#transfers" data-toggle="tab">Transfers</a></li>
                    <li><a href="#funds" data-toggle="tab">Funds</a></li>
                </ul>



                <div class="tab-content">

              <div class="tab-pane active" id="transfers">

                {% if transfers %}
                <table class="table table-striped">
                  <tr class="warning">
                    <td><b>Amount</b></td>
                    <td><b>Beneficiary</b></td>
                    <td><b>Bank</b></td>
                    <td><b>Date</b></td>
                  </tr>

                    {% for transfer in transfers %}
                  <tr>
                   <td> {{ transfer.amount_in_currency | floatformat:-2 }}{{ agent.country.currency.abbreviation }}</td>
                   <td>{{ transfer.beneficiary_bank_full_name }}</td>
                   <td>{{ transfer.get_beneficiary_bank_name_display }}</td>
                   <td>{{ transfer.time | date:"D d M Y" }}</td>
                  </tr>
                    {% endfor %}
                  <tr>


                </table>
                  {% else %}
                  <br>
                  <p>No transfer has been done.</p>
                  {% endif %}

              </div>
              <div class="tab-pane" id="funds">

                  {% if funds %}
                <table class="table table-striped">
                  <tr class="info">
                    <td><b>Amount(USD)</b></td>
                    <td><b>Status</b></td>
                    <td><b>Date</b></td>
                  </tr>

                  {% for fund in funds %}
                  <tr>
                   <td>{{ fund.amount | floatformat:-2 }}{{ agent.country.currency.abbreviation }}</td>
                   <td>{{ fund.get_status_display }}</td>
                   <td>{{ fund.requested_on | date:"D d M Y" }}</td>
                  </tr>
                    {% endfor %}

                  <tr>

                </table>
                  {% else %}
                  <br>
                  <p>No fund has been requested yet.</p>
                  {% endif %}

              </div>
            </div>
          </div>
        {% endblock %}