{% extends 'agent_portal/base-1.html' %}

        {% block content %}

        <div class="container-fluid" id="page-title">
      <div class="container">
        <h1>Agent Finder</h1>
      </div>
    </div>

    <div class="container">
      <form class="form-inline" role="form" action="" method="get">

          <div class="form-group">
              <label>Find an agent in:</label>
          </div>

          <div class="form-group">
              <select name="country" class="form-control">
                  {% for country in countries %}
                  <option value="{{ country }}">{{ country }}</option>
                  {% endfor %}
              </select>
          </div>

          <div class="form-group">
              <input type="submit" class="btn btn-warning" value="find">
          </div>
      </form>

       {% for agent in agents %}
      <div id="agent" class="col-md-3">
          <h4>{{ agent.business_name }}</h4>
          <p>{{ agent.address }}</p>
          <p>{{ agent.phone1 }}</p>
      </div>
        {% endfor %}


    </div>

        {% endblock %}