{% extends 'agent_portal/base-2.html' %}
{% load staticfiles %}

        {% block middle_pane %}
    {{ block.super }}

      <div class="col-md-12" id="activities-block">
            <ul class="col-md-12 list-unstyled" id="transaction-history">
              <li ><a href="/transactions/transfers">All transfers</a></li>
              <li class="active-transaction-tab"><a href="/transactions/funds">All Funds</a></li>
            </ul>
            <div>
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="reference no">
                </div>
                <div class="form-group">
                  <input type="submit" name="find" class="btn" value="find">
                </div>
              </form>
              <br>

              {% if transactions %}
              <table class="table table-striped">

                <tr>
                  <td><b>Reference n<u>o</u></b></td>
                  <td><b>Date</b></td>
                  <td><b>Amount({{ agent.country.currency.symbol }})</b></td>
                  <td><b>Status</b></td>

                </tr>

                {% for transaction in transactions %}
                  <tr>
                  <td><b>{{ transaction.id }}</b></td>
                  <td><b>{{ transaction.requested_on }}</b></td>
                  <td><b>{{ transaction.amount | floatformat:-2}}</b></td>
                  <td><b>{{ transaction.status }}</b></td>

                </tr>

                 {% endfor %}






              </table>
              {% else %}

                    <p>No fund has been requested yet.</p>

               {% endif %}


              {% if transaction.paginator.has_other_pages %}
              <ul class="pagination">
                  {% if transaction.paginator.has_previous %}
                <li><a href="?page={{ transaction.paginator.previous_page_number }}">&laquo;</a></li>
                  {% endif %}
                {% if paginaor.has_next %}
                <li><a href="?page={{ transaction.paginator.next_page_number }}">&raquo;</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </div>
          </div>


{% endblock %}