{% extends 'agent_portal/base-1.html' %}

{% block content %}

            <div class="container-fluid">

      <div class="row">
        <div class="col-md-5" id="auth-block">
          <h4>Login to NovaPay Account.</h4>

            {% if error %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ error }}
                </div>
        {% endif %}

          <form class="form-horizontal" role="form" method="POST" action="/login/">
              {% csrf_token %}
            <div class="form-group">
              <label class="col-md-2">{{ form.username.label }}: </label>
              <div class="col-md-10">
                <input type="text" class="form-control" name="{{ form.username.html_name }}" placeholder="Username">
                <small>{{ form.username.errors }}</small>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2">{{ form.password.label }}: </label>
              <div class="col-md-10">
                <input type="password" class="form-control" name="{{ form.password.html_name }}" placeholder="*******">
                 <small>{{ form.password.errors }}</small>
              </div>
            </div>

             <div class="form-group">
              <label class="col-md-2"></label>
              <div class="col-md-10">
                <input type="submit" class="btn btn-primary form-control" value="Continue">
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>


{% endblock %}