{% extends 'agent_portal/base-2.html' %}
        {% load staticfiles %}
{% block middle_pane %}
    {{ block.super }}

   <div class="col-md-12" id="activities-block">

            <div>
              <h4>Transfer</h4>
              <hr>

       {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ error }}
        </div>
        {% endif %}

              <form class="form-horizontal" action="" method="POST" id="transfer-form">

                {% csrf_token %}




                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h5>Enter {{ form.otp.label }}</h5>
                  </div>

                  <div class="panel-body">

                    <div class="col-md-12">
                      <p style="text-align:center;">{{ form.otp.label }} will expire in <span id="otp-counter">3:00 mins</span></p>
                    </div>

                    <div class="col-md-6 center-block">
                      <input type="text" class="form-control" name="{{ form.otp.html_name }}" >
                        <small>{{ form.otp.errors }}</small>
                    </div>




                  </div>


                </div>

                <input type="submit" class="btn btn-success btn-lg" value="Send Money">
              </form>
            </div>
          </div>
{% endblock %}