{% extends 'agent_portal/base-2.html' %}

        {% block middle_pane %}
            {{ block.supper }}

            {% if message %}
            <div class="col-md-12 alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endif %}


            {% if error %}
            <div class="col-md-12 alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert alert-warning" aria-hidden="true">&times;</button>
                    {{ error }}
                </div>
            {% endif %}

            <form class="form-horizontal" role="form" action="/reset/password/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="{{form.password1.html_name }}" placeholder="*********">
                        <small>{{form.password1.errors}}</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password2" class="col-sm-2 control-label">Confirm password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control"  name="{{form.password2.html_name }}" placeholder="*********">
                        <small>{{form.password2.errors}}</small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password2" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" class="btn btn-success" value="Reset Password">
                    </div>
                </div>



            </form>

        {% endblock %}