{% extends 'agent_portal/base-2.html' %}
        {% load staticfiles %}

        {% block middle_pane %}
    {{ block.super }}


      <div class="col-md-12" id="activities-block">
            <ul class="col-md-12 list-unstyled" id="transaction-history">
              <li class="active-transaction-tab"><a href="/transactions/transfers">All transfers</a></li>
              <li class=""><a href="/transactions/funds">All Funds</a></li>
            </ul>
            <div>
              <!--<form class="form-inline">-->
                <!--<div class="form-group">-->
                  <!--<input type="text" class="form-control" placeholder="reference no">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<input type="submit" name="find" class="btn" value="find">-->
                <!--</div>-->
              <!--</form>-->
              <br>

              {% if transactions %}
              <table class="table table-striped">
                <tr>
                  <td><b>Reference n<u>o</u></b></td>
                  <td><b>Beneficiary</b></td>
                  <td><b>Amount({{ agent.country.currency.symbol }})</b></td>
                  <td><b>Amount (Naira)</b></td>
                  <td><b>Status</b></td>
                  <td><b>Action</b></td>
                </tr>

                {% for transaction in transactions %}
                <tr>
                  <td><b>{{ transaction.id }}</b></td>

                  <td>{{ transaction.get_beneficiary_bank_name_display }}</td>
                  <td>{{ transaction.amount_in_currency| floatformat:-2 }}</td>
                  <td>{{ transaction.amount_in_local_currency| floatformat:-2 }}</td>
                  <td>{{ transaction.get_status_display }}</td>
                  <td><a href="/transfer/{{ transaction.id }}/">view</a></td>
                </tr>
                  {% endfor %}



              </table>
                {% else %}

                    <p style="margin-top:10px;">No transfers performed yet.</p>

                {% endif %}


              {% if transaction.paginator.has_other_pages %}
              <ul class="pagination">
                  {% if transaction.paginator.has_previous %}
                <li><a href="?page={{ transaction.paginator.previous_page_number }}">&laquo;</a></li>
                  {% endif %}
                {% if paginaor.has_next %}
                <li><a href="?page={{ transaction.paginator.next_page_number }}">&raquo;</a></li>
                {% endif %}
              </ul>
              {% endif %}

            </div>
          </div>
{% endblock %}