{% extends 'agent_portal/base-2.html' %}
        {% load staticfiles %}
{% block middle_pane %}
    {{ block.super }}

    <div class="col-md-12" id="activities-block">

            <div>
              <h4>Transfer</h4>
              <hr>

        {% if get_flash %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

        </div>
        {% endif %}


              <form class="form-horizontal" id="transfer-form" action="" method="post">
                  {% csrf_token %}
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h5>Sender's Details</h5>
                  </div>

                  <div class="panel-body">
                    <div class="col-md-12">
                      <input type="text" class="form-control" name="{{ form.senders_name.html_name }}" placeholder="{{ form.senders_name.label }}" required>
                        <small>{{ form.senders_name.errors }}</small>
                    </div>



                    <div class="col-md-6">
                        <select name="{{ form.senders_id_type.html_name }}" class="form-control">
                            {% for value, text in form.senders_id_type.field.choices %}
                            <option value="{{ value }}">{{ text }}</option>
                            {% endfor %}
                        </select>
                        <small>{{ form.senders_id_type.errors }}</small>
                    </div>

                    <div class="col-md-6">
                        <input type="text" class="form-control" name="{{ form.senders_id_number.html_name }}" placeholder="{{ form.senders_id_number.label }}" required>
                        <small>{{ form.senders_id_number.errors }}</small>
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="{{ form.senders_email.label }}" name="{{ form.senders_email.html_name }}">
                        <small>{{ form.senders_email.errors }}</small>
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="{{ form.senders_mobile.label }}" name="{{ form.senders_mobile.html_name }}" required>
                        <small>{{ form.senders_mobile.errors }}</small>
                    </div>



                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="{{ form.senders_address.label}}" name="{{ form.senders_address.html_name }}" required>
                        <small>{{ form.senders_address.errors }}</small>
                    </div>


                  </div>


                </div>


                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h5>Beneficiary's Details</h5>
                  </div>

                  <div class="panel-body">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="{{ form.beneficiary_bank_full_name.label }}" id="bank_full_name" name="{{ form.beneficiary_bank_full_name.html_name }}" readonly required>
                        <small>{{ form.beneficiary_bank_full_name.errors }}</small>
                    </div>



                    <div class="col-md-6">
                      <input type="text" class="form-control" id="accountnumber" placeholder="{{ form.beneficiary_bank_number.label }}" name="{{ form.beneficiary_bank_number.html_name }}" >
                        <small>{{ form.beneficiary_bank_number.errors }}</small>
                    </div>



                    <div class="col-md-6">
                     <select name="{{ form.beneficiary_bank_name.html_name }}" id="bankcode" class="form-control" required>
                            {% for value, text in form.beneficiary_bank_name.field.choices %}
                                <option value="{{ value }}"> {{ text }} </option>
                            {% endfor %}
                     </select>

                        <small>{{ form.beneficiary_bank_name.errors }}</small>
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="{{ form.beneficiary_mobile_number.label }}" name="{{ form.beneficiary_mobile_number.html_name }}" required>
                        <small>{{ form.beneficiary_mobile_number.errors }}</small>
                    </div>



                    <div class="col-md-6">
                      <input type="text" class="form-control" name="{{ form.narration.html_name }}" placeholder="message">
                        <small>{{ form.narration.errors }}</small>
                    </div>

                    <div class="col-md-6">
                      <input type="submit" id="confirm_button" value="Confirm Details" class="btn btn-warning" >
                    </div>



                    <div class="col-md-6">
                      <label id="nameholder"></label>
                    </div>
                  </div>


                </div>


                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h5>Tranfer Details</h5>
                  </div>

                  <div class="panel-body">

                    <div class="col-md-6">
                      <label>Amount</label>
                    </div>

                    <div class="col-md-6">
                      <input type="text" class="form-control" name="{{ form.amount_in_currency.html_name }}" placeholder="{{ form.amount_in_currency.label }}" >
                        {{ form.amount_in_currency.errors }}
                    </div>




                  </div>


                </div>

                <input type="submit" id="transfer_submit" class="btn btn-success btn-lg" value="Process Transfer" disabled>
              </form>
            </div>
          </div>
{% endblock %}

        {% block body %}
        <script type="text/javascript" src="{% static 'agent_portal/js/account_holder.js' %}"></script>
            <link href="{% static 'agent_portal/css/jquery.loadmask.css' %}" rel="stylesheet" type="text/css" />
            <script type="text/javascript" src="{% static 'agent_portal/js/jquery.loadmask.min.js' %}"></script>

        {% endblock %}