{% extends 'agent_portal/base-2.html' %}
        {% load staticfiles %}
{% block middle_pane %}
    {{ block.super }}


    <div class="col-md-12" id="activities-block">

            <div>
              <h4>Transfer ID: {{ transfer.id }} <small class="pull-right">Date: {{ transfer.time | date:"D d M Y"}}</small></h4>
              <hr>

              <form class="form-horizontal" id="transfer-form">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h5>Sender's Details</h5>
                  </div>

                  <div class="panel-body">
                    <div class="col-md-12">
                      <label>{{ transfer.senders_name }}</label>
                    </div>



                    <div class="col-md-6">
                       <label>{{ transfer.get_senders_id_type_display }}</label>
                    </div>

                    <div class="col-md-6">
                        <label>{{ transfer.senders_id_number }}</label>
                    </div>

                    <div class="col-md-6">
                      <label>{{ transfer.senders_email }}</label>
                    </div>

                    <div class="col-md-6">
                      <label>{{ transfer.senders_mobile }}</label>
                    </div>

                    <div class="col-md-6">
                     <label>{{ transfer.senders_address }}</label>
                    </div>

                    <div class="col-md-6">
                      <label>{{ agent.country.name }}</label>
                    </div>


                  </div>


                </div>


                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <h5>Beneficiary's Details</h5>
                  </div>

                  <div class="panel-body">
                    <div class="col-md-12">
                      <label>{{ transfer.beneficiary_bank_full_name }}</label>
                    </div>


                    <div class="col-md-6">
                      <label>{{ transfer.beneficiary_bank_number }}</label>
                    </div>

                    <div class="col-md-6">
                     <label>{{ transfer.get_beneficiary_bank_name_display }}</label>
                    </div>

                    <div class="col-md-6">
                      <label>{{ transfer.beneficiary_mobile_number }}</label>
                    </div>



                    <div class="col-md-6">
                      <label>{{ transfer.narration }}</label>
                    </div>


                  </div>


                </div>


                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h5>Tranfer Details</h5>
                  </div>

                  <div class="panel-body">

                    <div class="col-md-6">
                      <label>Amount</label>
                    </div>

                    <div class="col-md-6">
                      <label>{{agent.country.currency.symbol }} {{ transfer.amount_in_currency| floatformat:-2 }} {{ agent.country.currency.abbreviation }}</label>
                    </div>

                     <div class="col-md-6">
                      <label>Amount in Naira</label>
                    </div>

                    <div class="col-md-6">
                      <label>{{ transfer.amount_in_local_currency | floatformat:-2 }}NGN</label>
                    </div>




                  </div>


                </div>

                <input type="submit" class="btn btn-success btn-lg" value="Process Transfer">
              </form>
            </div>
          </div>
{% endblock %}