{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>NovaPay</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'agent_portal/css/style.css' %}">
      {% block head %}

      {% endblock %}
  </head>
  <body>
    {% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-navigation">
      <div class="container">
        {% include 'agent_portal/includes/brand.html' %}

        {% include 'agent_portal/includes/nav-out.html' %}
      </div>

    </nav>
    {% endblock %}


    {% block content %}

    {% endblock %}

    {% block footer %}
        {% include 'agent_portal/includes/footer.html' %}
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
            .errorlist{
                color:red;
            }
        </style>
    {% block body %}

    {% endblock %}
  </body>
</html>