{% extends 'collection/base.html' %}

        {% block middle_pane %}
            {{ block.super }}

            {% if message %}
            <div class="col-md-12 alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endif %}





            {% if error %}
            <div class="col-md-12 alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert alert-warning" aria-hidden="true">&times;</button>
                    {{ error }}
                </div>
            {% endif %}

            {% include 'collection/includes/balance-block.html' %}



            <div class="col-md-12" id="activities-block">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#transfers" data-toggle="tab">Payments</a></li>
                    <li><a href="#funds" data-toggle="tab">Settlement</a></li>
                </ul>



                <div class="tab-content">

              <div class="tab-pane active" id="transfers">

                {% if transfers %}
                <table class="table table-striped">
                  <tr class="warning">
                    <td><b>Payee</b></td>
                    <td><b>Amount</b></td>
                    <td><b>Branch</b></td>
                      <td><b>Exchange Rate</b></td>
                    <td><b>Time</b></td>
                  </tr>

                    {% for payment in payments %}
                  <tr>
                  <td>{{ payment.payee }}</td>
                      <td>{{ payment.currency.symbol }}{{ payment.amount_in_currency }}</td>
                      <td>{{ payment.branch }}</td>
                      <td>{{ payment.exchange_rate }}</td>
                   <td>{{ payment.time_recorded | date:"D d M Y" }}</td>
                  </tr>
                    {% endfor %}
                  <tr>


                </table>
                  {% else %}
                  <br>
                  <p>No Payments has been done.</p>
                  {% endif %}

              </div>
              <div class="tab-pane" id="funds">

                  {% if funds %}
                <table class="table table-striped">
                  <tr class="info">
                    <td><b>Amount(USD)</b></td>
                    <td><b>Date</b></td>
                  </tr>

                  {% for settlement in selttlements %}
                  <tr>
                   <td>{{ settlement.currency.symbol }}{{ settlement.amount }}</td>
                      <td>{{ settlement.date }}</td>
                  </tr>
                    {% endfor %}

                  <tr>

                </table>
                  {% else %}
                  <br>
                  <p>No settlement has been made yet.</p>
                  {% endif %}

              </div>
            </div>
          </div>
        {% endblock %}