{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NovaPay Collection</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'agent_portal/css/style.css'%}">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-navigation">
      <div class="container">
        <div class="navbar-header">
          <a href="" class="navbar-brand">NovaPay</a>
        </div>

        <ul class="nav navbar-nav pull-right">
          <!--<li><a href=""><span class="label label-warning">Signin</span></a></li>-->
          <li><a href="">Register</a></li>
          <!--<li><a href="">Find an agent</a></li>-->
        </ul>
      </div>

    </nav>

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-5" id="auth-block">
          <h4>Login to NovaPay Aggregator Account.</h4>

          <form class="form-horizontal" method="POST" action="" role="form">
              {% csrf_token %}
            <div class="form-group">
              <label class="col-md-2">Username: </label>
              <div class="col-md-10">
                <input type="text" class="form-control" name="{{ form.username.html_name }}" placeholder="Username">
                  <small>{{ form.username.errors }}</small>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2">Password: </label>
              <div class="col-md-10">
                <input type="password" class="form-control" name="{{ form.password.html_name }}" placeholder="*******">
                  <small>{{ form.password.errors }}</small>
              </div>
            </div>

             <div class="form-group">
              <label class="col-md-2"></label>
              <div class="col-md-10">
                <input type="submit" class="btn btn-primary form-control" value="Continue">
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>

    <footer class="container">
      <div class="container">
        <p><img style="width:100px;height:100px;" src="{% static 'agent_portal/img/security-icon.png'%}"></p>
        <p>&copy;NovaPay 2014. <a href="">Privacy Policy</a> <a href="">Terms</a></p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>