{% extends 'collection/base-1.html' %}
{% block content %}

         <div class="container-fluid" id="page-title">
      <div class="container">
        <h1>Register</h1>
      </div>
    </div>

    <div class="container" style="background-color:white; padding-bottom:20px;">
        <form role="form" action="/register/" method="POST" >
             {% csrf_token %}
            <h3 style="text-align:center">Agent Registration Form</h3>

            {% if message %}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
            {% endif %}

            <div class="row">

            <div class="col-md-4">
                <label>{{ user_form.username.label }}</label>
                <input class="form-control" name="{{ user_form.username.html_name}}" value="{{ user_form.usernam.value | default_if_none:'' }}" type="text" required>
                <small>{{ user_form.username.errors }}</small>
            </div>

            <div class="col-md-4">
                <label>{{ user_form.first_name.label }}</label>
                <input class="form-control" name="{{ user_form.first_name.html_name }}" value="{{ user_form.first_name.value | default_if_none:'' }}" type="text" required>
                <small>{{ user_form.first_name.errors }}</small>
            </div>

             <div class="col-md-4">
                <label>{{ user_form.last_name.label }}</label>
                <input class="form-control" name="{{ user_form.last_name.html_name }}" value="{{ user_form.last_name.value | default_if_none:'' }}" type="text" required>
                 <small>{{ user_form.last_name.errors }}</small>
            </div>


            </div>

            <div class="row">
            <div class="col-md-2">
                <label>Country</label>
                <select id="{{ agent_form.country.id_for_label }}" name="{{ agent_form.country.html_name }}" class="form-control">
                    {% for value, text in agent_form.country.field.choices %}
                    <option value="{{ value }}">{{text}}</option>
                    {% endfor %}
                </select>
                <small>{{ agent_form.country.errors }}</small>
            </div>

            <div class="col-md-2">
                <label>{{ agent_form.city.label }}</label>
               <input name="{{ agent_form.city.html_name }}" class="form-control" value="{{ agent_form.city.value | default_if_none:'' }}" required>
                <small>{{ agent_form.city.errors }}</small>
            </div>

            <div class="col-md-3">
                <label>{{ agent_form.phone1.label}}</label>
                <input name="{{ agent_form.phone1.html_name }}" type="tel" class="form-control" value="{{ agent_form.phone2.value | default_if_none:'' }}" placeholder="+44765346569" required>
                <small>{{ agent_form.phone1.errors}}</small>
            </div>

            <div class="col-md-5">
                <label>{{ agent_form.address.label }}</label>
                <input name="{{ agent_form.address.html_name }}" type="text" class="form-control" value="{{ agent_form.address.value | default_if_none:'' }}" required>
                 <small>{{ agent_form.address.errors}}</small>
            </div>
            </div>

            <div class="row">
            <div class="col-md-3">
                <label>Identification</label>
                <select name="{{ agent_form.identification_type.html_name}}" class="form-control" required>
                    {% for value, text in agent_form.identification_type.field.choices %}
                    <option value="{{ value }}" >{{ text }}</option>
                    {% endfor %}
                </select>
                 <small>{{ agent_form.identification_type.errors}}</small>
            </div>

            <div class="col-md-3">
                <label>{{ agent_form.identification_number.label }}</label>
                <input name="{{ agent_form.identification_number.html_name }}" data-validation="alphanumeric" value="{{ agent_form.identification_number.value | default_if_none:'' }}" type="text" class="form-control" required>
                 <small>{{ agent_form.identification_number.errors}}</small>
            </div>

            <div class="col-md-6">
                <label>{{ agent_form.social_security_number.label }}</label>
                <input type="text" name="{{ agent_form.social_security_number.html_name }}" data-validation="alphanumeric" value="{{ agent_form.social_security_number.value | default_if_none:'' }}" class="form-control" required>
                 <small>{{ agent_form.social_security_number.errors}}</small>
            </div>
            </div>

            <div class="row">
            <div class="col-md-3">
                <label>MTO</label>
                <select class="form-control" id="{{ agent_form.mto.id_for_label }}" name="{{ agent_form.mto.html_name }}" required>

                    {% for value, text in agent_form.mto.field.choices %}
                        <option value="{{ value }}">{{ text }}</option>
                    {% endfor %}

                </select>
                 <small>{{ agent_form.mto.errors}}</small>
            </div>
            <div class="col-md-3">
                <label>Super Agent</label>
                <select class="form-control" id="{{ agent_form.super_agent.id_for_label }}" name="{{ agent_form.super_agent.html_name}}">
                    <!--<option value="">---------</option>-->
                    {% for value, text in agent_form.super_agent.field.choices %}

                        <option value="{{ value }}">{{ text }}</option>

                    {% endfor %}
                </select>
                <small>{{ agent_form.super_agent.errors }}</small>
            </div>
            <div class="col-md-3">
                <label>{{ agent_form.business_name.label }}</label>
                <input type="text" name="{{ agent_form.business_name.html_name }}" value="{{ agent_form.business_name.value | default_if_none:'' }}" class="form-control" >
                 <small>{{ agent_form.business_name.errors}}</small>
            </div>

            <div class="col-md-3">
                <label>{{ agent_form.position.label }}</label>
                <input type="text" class="form-control" value="{{ agent_form.position.value  | default_if_none:'' }}" name="{{ agent_form.position.html_name }}" >
                 <small>{{ agent_form.position.errors}}</small>
            </div>
            </div>

            <div class="row">
            <div class="col-md-6">
                <label>{{ user_form.email.label }}</label>
                <input type="text" class="form-control" data-validation="email" value="{{ user_form.email.value | default_if_none:'' }}" name="{{ user_form.email.html_name }}" required>
                 <small>{{ user_form.email.errors}}</small>
            </div>

            <div class="col-md-6">
                <label>{{ agent_form.date_of_birth.label }}</label>
                <input type="text" name="{{ agent_form.date_of_birth.html_name }}" id="datepicker" value="{{ agent_form.date_of_birth.value  | default_if_none:'' }}"  class="form-control" required>
                 <small>{{ agent_form.date_of_birth.errors}}</small>
            </div>
            </div>

            <div class="row">
            <div class="col-md-6">
                <label>{{ user_form.password1.label }}</label>
                <p>must contain at least 1 capital letters and special characters like (@, #, $, _, +, -, etc)</p>
                <input type="password" class="form-control" name="{{ user_form.password1.html_name }}" data-validation="length" data-validation-length="min8">
                 <small>{{ user_form.password1.errors }}</small>
            </div>

            <div class="col-md-6">
               <label>{{ user_form.password2.label }}</label>
                <p>{{ user_form.password2.help_text }}</p>
               <input type="password" class="form-control" name="{{ user_form.password2.html_name }}" data-validation="confirmation">
                 <small>{{ user_form.password2.errors}}</small>
            </div>
            </div>

            <div class="row">
            <div class="col-md-6">
                <label>{{ secret_form.question_1.label }}</label>

                <input name="{{ secret_form.question_1.html_name }}" value="" type="text" class="form-control" required>
                 <small>{{ secret_form.question1.errors}}</small>
            </div>

            <div class="col-md-6">
                <label>{{ secret_form.question_2.label }}</label>

                <input name="{{ secret_form.question_2.html_name }}" type="text" class="form-control" required>
                <small>{{ secret_form.question2.errors}}</small>
            </div>
            </div>

            <div class="row">
            <div class="col-md-6">
                <label>{{ secret_form.question_3.label }}</label>

                <input name="{{ secret_form.question_3.html_name }}" type="text" class="form-control" required>
                <small>{{ secret_form.question3.errors}}</small>
            </div>

            <div class="col-md-6">
                <label>{{ secret_form.question_4.label }}</label>

                <input name="{{ secret_form.question_4.html_name }}" type="text" class="form-control" required>
                <small>{{ secret_form.question4.errors}}</small>
            </div>
            </div>

            <div class="col-md-12">
                <label><input type="checkbox" required>I have read and agree with the <a href="/terms-condition/">terms and conditions</a> of NovaPay</label>
            </div>

            <div class="row">
            <div class="col-md-3">
                <input type="submit" class="btn btn-lg btn-success" value="Submit">
            </div>
            </div>

        </form>

    </div>

{% endblock %}

        {% block body %}
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
            <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

        <script>
  $(function() {
    $( "#datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1954:1996",
    });
  });
  </script>

        {% endblock %}