<div id="balance" class="col-md-12" style="">
            <span>
              <b>NOVAPAY COLLECTION BALANCE</b>
                {% for wallet in wallets %}
              <b class="pull-right">{{wallet.currency.symbol}} {{wallet.balance}}.00</b>
                {% endfor %}
            </span>

     </div>