{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Transfers
                <small>All</small>
            </h1>



        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">

                <table class="table table-striped">
                    <tr>
                        <td><b>Username</b></td>
                        <td><b>Balance</b></td>
                        <td><b>Country</b></td>
                        <td><b>Mto</b></td>
                        <td><b>is Super Agent</b></td>
                        <td><b>Super Agent is</b></td>
                        <td><b>Status</b></td>
                    </tr>
                    {% for agent in agents %}
                    <tr>
                        <td><a href="/settlement/agent/?key={{agent.pk}}">{{ agent.user.username }}</a></td>
                        <td>{{ agent.account_balance }}{{ agent.country.currency.abbreviation }}</td>
                        <td>{{ agent.country.abbreviation }}</td>
                        <td>{{ agent.mto.name }}</td>
                        {% if agent.is_super_agent %}
                        <td> Yes </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ agent.super_agent.user.username }}</td>
                        {% if agent.user.is_active %}
                        <td>Active</td>
                        {% else %}
                        <td>In active</td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </table>

                <ul class="pagination">
                    {% if transfers.has_previous %}
                    <li><a href="?page={{ transfers.previous_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">&laquo;Previous</a></li>
                    {% endif %}

                    {% if transfers.has_next %}
                    <li><a href="?page={{ transfers.next_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">Next&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->

        {% endblock %}