{% extends 'settlement/base.html' %}
        {% load staticfiles %}
        {% load humanize %}

        {% block header %}

        {% endblock %}

        {% block wrapper %}

            {% include 'settlement/includes/left-side.html' %}
            <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Agents Transfer
                <small>All</small>
            </h1>



        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <br>
                        <p><strong>{{ agent.user.first_name }} {{ agent.user.last_name }}</strong></p>
                        <p><strong>{{ agent.country }}</strong></p>
                        <p><strong>{{ agent.mto }}</strong></p>
                        <p><strong>{{ agent.account_balance|intcomma }}{{ agent.country.currency.abbreviation }}</strong></p>
                        <p>-{{agent.credit|intcomma}}{{ agent.country.currency.abbreviation }}</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'agent_portal/img/user-profile.png' %}" width="" height="">
                    </div>
                </div>
                <form action="" method="GET">
                    <label>From: <input type="date" name="from" value="{{date_from}}" class="form-control"></label>
                    <label>To: <input type="date" name="to" value="{{date_to}}" class="form-control"></label>
                    <input type="hidden" name="key" value="{{agent.pk}}">
                    <input type="submit" class="btn" value="Filter">

                </form>
                <table class="table table-striped">
                    <tr class="table table-condensed">
                        <td></td>
                        <td><strong>Date</strong></td>
                        <td><strong>Amount</strong></td>
                        <td><strong>Amount in Naira</strong></td>
                        <td><strong>Exchange Rate</strong></td>
                        <td><strong>platform fees</strong></td>
                        <td><strong>Amount expected</strong></td>
                        <td><strong>Settlement status</strong></td>
                    </tr>
                    {% for transfer in transfers %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td>{{ transfer.time|date }}</td>
                        <td>{{ transfer.amount_in_currency}}{{ agent.country.currency.abbreviation }}</td>
                        <td>NGN{{ transfer.amount_in_local_currency|intcomma }}</td>
                        <td>NGN{{ transfer.exchange_rate|intcomma }}</td>
                        <td>{{ transfer.platform_fees|intcomma }}{{ agent.country.currency.abbreviation }}</td>
                        <td>{{ transfer.amount_expected|intcomma }}{{ agent.country.currency.abbreviation }}</td>
                        <td>{{ transfer.get_settlement_status_display }}</td>
                    </tr>
                    {% endfor %}

                </table>
                <p><label>Total transfers: NGN {{ total_amount_transferred_in_naira|intcomma }}, {{agent.country.currency.abbreviation }}{{ total_amount_transferred|intcomma}}</label>

                    <label>No of Transactions: {{ total_number_of_transactions }}</label>
                    <label>Total platform fees: {{ total_platform_fees }}</label>
                    <label>Total Agent fees: {{ total_agent_fees }}</label>
                    <label>Total fees: {{ total_fees }}</label>
                    <label>Total Amount expected: {{ total_amount_expected }}</label>
                </p>
                <ul class="pagination">
                    {% if transfers.has_previous %}
                    <li><a href="?key={{agent.pk}}&page={{ transfers.previous_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">&laquo;Previous</a></li>
                    {% endif %}

                    {% if transfers.has_next %}
                    <li><a href="?key={{agent.pk}}&page={{ transfers.next_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">Next&raquo;</a></li>
                    {% endif %}
                </ul>

                <hr>
                <h4>Add Payment</h4>
                <form action="/settlement/add_payment/" method="GET" >
                    <label>Amount: <input type="text" name="amount"></label>
                    <input type="hidden" name="agent_key" value="{{ agent.pk }}">
                    <input type="submit" value="Add Payment">
                </form>

            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->


        {% endblock %}