{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- bootstrap 3.0.2 -->
    <link href="{% static 'settlement/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="{% static 'settlement/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="{% static 'settlement/css/ionicons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{% static 'settlement/css/AdminLTE.css' %}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
<!-- header -->

<!-- End of Header -->

{% block header %}

{% endblock %}


<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->

    {% block wrapper %}

    <!-- End of left side -->

    <!-- Right side column. Contains the navbar and content of the page -->


    <!-- end of right side -->
    {% endblock %}
</div><!-- ./wrapper -->


<!-- jQuery 2.0.2 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{% static 'settlement/js/bootstrap.min.js' %}" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="{% static 'settlement/js/AdminLTE/app.js' %}" type="text/javascript"></script>

{% block end_of_body %}

{% endblock %}

</body>
</html>