{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Currencies
                <small></small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">New Currency</h3>
                        </div>

                        <div class="box-body">
                            <form class="form" method="POST" action="" role="form">
                                {% csrf_token %}


                                <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.name.html_name }}" placeholder="name" required>
                                    <small>{{ form.name.errors }}</small>
                                </div>

                                 <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.exchange_rate.html_name }}" placeholder="exchange rate" required>
                                    <small>{{ form.exchange_rate.errors }}</small>
                                </div>

                                 <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.minimum_per_transfer.html_name }}" placeholder="minimum amount" required>
                                    <small>{{ form.minimum_per_transfer.errors }}</small>
                                </div>

                                 <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.maximum_per_transfer.html_name }}" placeholder="maximum amount" required>
                                    <small>{{ form.maximum_per_transfer.errors }}</small>
                                </div>

                                 <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.symbol.html_name }}" placeholder="symbol($)" required>
                                    <small>{{ form.symbol.errors }}</small>
                                </div>

                                 <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.abbreviation.html_name }}" placeholder="abbreviation(USD)" required>
                                    <small>{{ form.abbreviation.errors }}</small>
                                </div>

                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-success" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Currencies List</h3>
                        </div>

                        <div class="box-body">
                            <table class="table table-condensed">
                                <tr>
                                    <td><strong>Name</strong></td>
                                      <td><strong>Exchange Rate</strong></td>
                                      <td><strong>Minimum</strong></td>
                                        <td><strong>Maximum</strong></td>


                                </tr>

                                {% for currency in currencies %}
                                <tr>
                                    <td><a href="/settlement/currency/edit/?id={{currency.pk}}">{{ currency.name }} ({{ currency.symbol }})</a></td>
                                    <td>NGN{{ currency.exchange_rate }}</td>
                                <td>{{ currency.minimum_per_transfer }}{{ currency.abbreviation }}</td>
                                <td>{{ currency.maximum_per_transfer }}{{ currency.abbreviation }}</td>

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}