{% extends 'settlement/base.html' %}

        {% block header %}
            {% include 'settlement/includes/header.html' %}

        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

            <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <!--<small>Dashboard</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>
                                {{ total_agents }}
                            </h3>
                            <p>
                                Total Agents
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>
                                NGN {{ account_balance }}
                            </h3>
                            <p>
                                Account Balance
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-speedometer"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->

                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>
                                NGN {{ total_transfers_today }}
                            </h3>
                            <p>
                                Total Transfer Today
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pound"></i>
                        </div>
                        <a href="#" class="small-box-footer">

                        </a>
                    </div>
                </div><!-- ./col -->

                <div class="col-md-6">
                    <!-- small box -->
                    <div class="small-box bg-red">
                        <div class="inner">
                            {% for currency in fx %}
                            <h3>
                               {{ currency.abbreviation | upper }} 1 - NGN {{ currency.exchange_rate }}
                            </h3>
                            {% endfor %}

                            <p>
                                FX Rates
                            </p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div><!-- ./col -->

                <div class="col-md-6">
                    <!-- small box -->
                  <div class="box">
                      <div class="box-header">
                          <h3 class="box-title">Recent Transfers</h3>
                      </div>

                      <div class="box-body">
                          <table class="table">
                              <tr>
                                  <td><b>Agent</b></td>
                                  <td><b>Amount($)</b></td>
                                  <td><b>Amount(#)</b></td>
                                  <td><b>Time</b></td>
                              </tr>
                              {% for transfer in recent_transfers %}
                              <tr>
                                  <td><b>{{ transfer.agent.user.username }}</b></td>
                                  <td><b>{{ transfer.agent.country.currency.abbreviation | upper }}{{ transfer.amount_in_currency }}</b></td>
                                  <td><b>{{ transfer.amount_in_local_currency }}</b></td>
                                  <td><b>{{ transfer.time | date}}</b></td>
                              </tr>
                              {% endfor %}


                          </table>
                      </div>
                  </div>
                </div><!-- ./col -->



                <div class="col-md-6">
                    <!-- small box -->
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Recent Funds</h3>
                        </div>

                        <div class="box-body">
                            <table class="table table-striped">
                                <tr>
                                    <td><b>Agent</b></td>
                                    <td><b>Amount($)</b></td>
                                    <td><b>Status</b></td>

                                </tr>


                                {% for fund in recent_funds %}
                                <tr>
                                    <td><b>{{ fund.requested_by.user.username }}</b></td>
                                    <td><b>{{ fund.requested_by.country.currency.abbreviation | upper }}{{ fund.amount}}</b></td>
                                    <td><b>{{ fund.get_status_display }}</b></td>

                                </tr>
                                {% endfor %}




                            </table>
                        </div>
                    </div>
                </div><!-- ./col -->
            </div>


        </section><!-- /.content -->
    </aside><!-- /.right-side -->

        {% endblock %}