{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

            <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Currency
                <small>Edit</small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        Edit Currency
                    </div>

                    <div class="box-body">

                        <form class="form-horizontal" role="form" action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="pkk" value="{{currency.pk}}">
                            <div class="form-group">
                                <label class="col-md-3">Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="{{ form.name.html_name }}" value="{{ form.name.value }}" placeholder="Phone">
                                    <small>{{ form.name.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3">Exchange Rate</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="{{ form.exchange_rate.html_name }}" value="{{ form.exchange_rate.value }}" placeholder="Phone">
                                    <small>{{ form.exchange_rate.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3">Minimum</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="{{ form.minimum_per_transfer.html_name }}" value="{{ form.minimum_per_transfer.value }}" placeholder="Phone">
                                    <small>{{ form.minimum_per_transfer.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3">Maximum</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="{{ form.maximum_per_transfer.html_name }}" value="{{ form.maximum_per_transfer.value }}" placeholder="Phone">
                                    <small>{{ form.maximum_per_transfer.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3">Symbol</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="{{ form.symbol.html_name }}" value="{{ form.symbol.value }}" placeholder="Phone">
                                    <small>{{ form.symbol.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3">Abbreviation</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="{{ form.abbreviation.html_name }}" value="{{ form.abbreviation.value }}" placeholder="Phone">
                                    <small>{{ form.abbreviation.errors }}</small>
                                </div>
                            </div>




                            <div class="form-group">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <input type="submit" class="btn btn-success" value="Save">
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}