{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

            <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rate
                <small>Edit</small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        Edit Rate
                    </div>

                    <div class="box-body">

                        <form class="form-horizontal" role="form" action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="pkk" value="{{rate.pk}}">
                            <div class="form-group">
                                <label class="col-md-3">Rate</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="{{ form.rate.html_name }}" value="{{ form.rate.value }}" placeholder="Phone">
                                    <small>{{ form.rate.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3">Currency</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="currency">
                                        {% for value, text in form.currency.field.choices %}
                                        <option value="{{value}}"{% if value == form.currency.value %}selected{%endif%}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <small>{{ form.currency.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3">MTO</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="mto">
                                        {% for value, text in form.mto.field.choices %}
                                        <option value="{{ value }}"{% if value == form.mto.value %}selected{%endif%}>{{ text }}</option>
                                        {% endfor %}
                                    </select>
                                    <small>{{ form.mto.errors }}</small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <input type="submit" class="btn btn-success" value="Save">
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}