{% extends 'settlement/base.html' %}
        {% load humanize %}
        {% load staticfiles %}


        {% block header %}
            {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html' %}
        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Funds
                <small>All</small>
            </h1>



        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <form action="" method="GET">
                    <label>From: <input type="date" name="from" value="{{date_from}}" class="form-control"></label>
                    <label>To: <input type="date" name="to" value="{{date_to}}" class="form-control"></label>
                    <label>
                        <select name="status">
                            <option value="">all</option>
                            <option value="y">Pending</option>
                        </select>
                    </label>
                    <input type="submit" class="btn" value="Filter">
                </form>
                <table class="table table-striped">
                    <tr>
                        <td><b>Agent</b></td>
                        <td><b>Amount</b></td>
                        <td><b>Type</b></td>
                        <td><b>Requested on</b></td>
                        <td><b>Status</b></td>
                        <td><b>Action</b></td>

                    </tr>
                    {% for fund in funds %}
                    <tr>
                        <td>{{ fund.requested_by.user.username }}</td>
                        <td>{{ fund.amount|intcomma }}{{ fund.requested_by.country.currency.abbreviation }}</td>
                        <td>{{ fund.get_type_display }}</td>
                        <td>{{ fund.requested_on|date}}</td>
                        <td>{{ fund.get_status_display|title }}</td>
                        {% if fund.status == 'p' %}
                        <td>
                            <a href="/settlement/fund_action/?key={{fund.pk}}&action=a" class="btn btn-success">Accept</a>
                            <a href="/settlement/fund_action/?key={{fund.pk}}&action=r" class="btn btn-danger">Reject</a>
                        </td>
                        {% else %}
                        <td>{{ fund.get_status_display }}</td>
                        {% endif %}
                    </tr>

                    {% endfor%}

                </table>

                <ul class="pagination">
                    {% if funds.has_previous %}
                    <li><a href="?page={{ funds.previous_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">&laquo;Previous</a></li>
                    {% endif %}

                    {% if funds.has_next %}
                    <li><a href="?page={{ funds.next_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">Next&raquo;</a></li>
                    {% endif %}
                </ul>

                <hr>



            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}