{% load staticfiles %}
<!DOCTYPE html>
<html class="bg-black">
<head>
    <meta charset="UTF-8">
    <title>AdminLTE | Log in</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static 'settlement/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="{% static 'settlement/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="{% static 'settlement/css/ionicons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{% static 'settlement/css/AdminLTE.css' %}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body class="bg-black">

<div class="form-box" id="login-box">
    <div class="header">Sign In</div>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="body bg-gray">
            <div class="form-group">
                <input type="text" name="{{ form.username.html_name }}" class="form-control" placeholder="User ID"/>
            </div>
            <div class="form-group">
                <input type="password" name="{{ form.password.html_name }}" class="form-control" placeholder="Password"/>
            </div>

        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Sign me in</button>


        </div>
    </form>

</div>


<!-- jQuery 2.0.2 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="{% static 'settlement/js/bootstrap.min.js' %}" type="text/javascript"></script>
<!-- AdminLTE App -->
<script src="{% static 'settlement/js/AdminLTE/app.js' %}" type="text/javascript"></script>

</body>
</html>