{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}
<aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                MTO: {{ mto.pk }}
                <!--<small>Dashboard</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <table class="table table-striped">
                <tr>
                    <td><strong>Name </strong></td>
                    <td>{{ mto.name }}</td>
                </tr>

                <tr>
                    <td><strong>Address</strong></td>
                    <td>{{ mto.address }}</td>
                </tr>

                <tr>
                    <td><strong>Agents</strong></td>
                    <td>{{ total_agents }}</td>
                </tr>

                <tr>
                    <td><strong>Credit</strong></td>
                    <td>{{ credits_cum }}</td>
                </tr>

                <tr>
                    <td><strong>Agent commission</strong></td>
                    <td>{{ mto.agent_commission }}%</td>
                </tr>

                <tr>
                    <td><strong>Platform commission</strong></td>
                    <td>{{ mto.platform_commission}}%</td>
                </tr>
            </table>

            <hr>

            <table class="table-condensed table">
                <tr>
                    <td><h4>Schedules</h4></td>
                </tr>
                <tr>
                    <td><strong>Greater than equal to</strong></td>
                    <td><strong>Less than equal to</strong></td>
                    <td><strong>Commission Type</strong></td>
                    <td><strong>Commission</strong></td>
                    <td></td>
                </tr>
                {% for schedule in schedules %}
                    <tr>
                        <td>{{ schedule.greater_than_equal_to }}</td>
                        <td>{{ schedule.less_than_equal_to }}</td>
                        <td>{{ schedule.commission_type }}</td>
                        <td>{{ schedule.commission }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{mto.pk}}" name="{{ form.mto.html_name }}">
                        <input type="hidden" name="hidden_id" value="{{mto.pk}}">
                        <td>
                            <input type="text" name="{{form.greater_than_equal_to.html_name }}" class="form-control">
                            <small>{{ form.greater_than_equal_to.errors }}</small>
                        </td>
                        <td>
                            <input type="text" name="{{form.less_than_equal_to.html_name }}" class="form-control">
                            <small>{{ form.greater_than_equal_to.errors }}</small>
                        </td>
                        <td>
                            <select name="{{ form.commission_type.html_name }}">
                                {% for value, text in form.commission_type.field.choices %}
                                <option value="{{ value}}" class="form-control">{{text}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" name="{{form.commission.html_name }}" class="form-control">
                            <small>{{ form.commission.errors }}</small>
                        </td>
                        <td>
                            <input type="submit" value="Add New" class="btn btn-success">
                        </td>

                    </form>
                </tr>
            </table>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}