{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                MTOS
                <small></small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">New MTO</h3>
                        </div>

                        <div class="box-body">
                            <form class="form" method="POST" action="" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="{{ form.name.html_name }}" class="form-control" placeholder="name" required>
                                    <small>{{ form.name.errors }}</small>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.address.html_name }}" placeholder="address" required>
                                    <small>{{ form.address.errors }}</small>
                                </div>

                                 <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.platform_commission.html_name }}" placeholder="80%" required>
                                     <small>{{ form.platform_commission.errors }}</small>
                                </div>

                                 <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.agent_commission.html_name }}" placeholder="20%" required>
                                    <small>{{ form.agent_commission.errors }}</small>
                                 </div>



                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-success" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">MTO List</h3>
                        </div>

                        <div class="box-body">
                            <table class="table table-condensed">
                                <tr>
                                    <td><strong>Name</strong></td>
                                      <td><strong>Address</strong></td>
                                      <td><strong>Platform commission</strong></td>
                                      <td><strong>Agent Commission</strong></td>
                                </tr>

                                {% for mto in mtos %}
                                <tr>
                                    <td><a href="/settlement/mto/?mto={{mto.pk}}">{{ mto.name }}</a></td>
                                <td>{{ mto.address }}</td>
                                <td>{{ mto.platform_commission }}%</td>
                                <td>{{ mto.agent_commission}}%</td>

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}