{% extends 'settlement/base.html' %}
        {% load humanize %}
        {% block header %}
            {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html' %}

             <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Payments
                <small>All</small>
            </h1>



        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <form action="" method="GET">
                    <label>From: <input type="date" name="from" value="{{date_from}}" class="form-control"></label>
                    <label>To: <input type="date" name="to" value="{{date_to}}" class="form-control"></label>

                    <input type="submit" class="btn" value="Filter">
                </form>
                <table class="table table-striped">
                    <tr>
                        <td><b>Date</b></td>
                        <td><b>Amount</b></td>
                        <td><b>Agent</b></td>


                    </tr>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.amount|intcomma }}</td>
                        <td>{{ payment.collected_on|date }}</td>
                        <td><a href="/settlement/agent/?key={{payment.agent.pk}}">{{ payment.agent.user.username }}</a></td>

                    </tr>

                    {% endfor%}

                </table>

                <ul class="pagination">
                    {% if funds.has_previous %}
                    <li><a href="?page={{ funds.previous_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">&laquo;Previous</a></li>
                    {% endif %}

                    {% if funds.has_next %}
                    <li><a href="?page={{ funds.next_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">Next&raquo;</a></li>
                    {% endif %}
                </ul>

                <hr>



            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}