{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rates
                <small></small>
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">New Rate</h3>
                        </div>

                        <div class="box-body">
                            <form class="form" method="POST" action="" role="form">
                                {% csrf_token %}


                                <div class="form-group">
                                    <input type="text" class="form-control" name="{{ form.rate.html_name }}" placeholder="100" required>
                                    <small>{{ form.rate.errors }}</small>
                                </div>




                                <div class="form-group">
                                    <select class="form-control" name="{{ form.currency.html_name }}">
                                        {% for value, text in form.currency.field.choices %}
                                        <option value="{{value}}">{{text|title}}</option>
                                        {% endfor %}
                                    </select>
                                    <small>{{ form.currency.errors }}</small>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="{{ form.mto.html_name }}">
                                        {% for value, text in form.mto.field.choices %}
                                        <option value="{{value}}">{{text|title}}</option>
                                        {% endfor %}
                                    </select>
                                    <small>{{ form.mto.errors }}</small>
                                </div>


                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-success" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box box-success">
                        <div class="box-header">
                            <h3 class="box-title">Rates List</h3>
                        </div>

                        <div class="box-body">
                            <table class="table table-condensed">
                                <tr>
                                    <td><strong>Rate</strong></td>
                                      <td><strong>Currency</strong></td>
                                      <td><strong>MTO</strong></td>

                                </tr>

                                {% for rate in rates %}
                                <tr>
                                    <td><a href="/settlement/rate/edit/?id={{rate.pk}}">NGN{{ rate.rate }}</a></td>
                                <td>{{ rate.currency.name }}</td>
                                <td>{{ rate.mto.name|title }}</td>


                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->
        {% endblock %}