{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Transfers
                <small>All</small>
            </h1>



        </section>

        <!-- Main content -->
        <section class="content">

            <div class="col-md-12">
                <form action="" method="GET">
                    <label>From: <input type="date" name="from" value="{{date_from}}" class="form-control"></label>
                    <label>To: <input type="date" name="to" value="{{date_to}}" class="form-control"></label>
                    <input type="submit" class="btn" value="Filter">
                </form>
                <table class="table table-striped">
                    <tr>
                        <td><b>Agent</b></td>
                        <td><b>Amount()</b></td>
                        <td><b>Amount(NGN)</b></td>
                        <td><b>Platform fees</b></td>
                        <td><b>Wema fee (NGN)</b></td>
                        <td><b>Agent fees</b></td>
                        <td><b>Time</b></td>
                        <td><b>Exchange Rate(NGN)</b></td>
                        <td><b>Settlement status</b></td>
                        <td><b>Status</b></td>
                        <td><b>Action</b></td>
                    </tr>
                    {% for transfer in transfers %}
                    <tr>
                        <td>{{ transfer.agent.user.username }}</td>
                        <td>{{ transfer.amount_in_currency}}{{ transfer.agent.country.currency.abbreviation }}</td>
                        <td>{{ transfer.amount_in_local_currency|intcomma }}</td>
                        <td>{{ transfer.platform_fees }}</td>
                        <td>{{ transfer.wema_fee }}</td>
                        <td>{{ transfer.agent_fees }}</td>
                        <td>{{ transfer.time|date }}</td>
                        <td>{{ transfer.exchange_rate }}</td>
                        <td>{{ transfer.get_settlement_status_display }}</td>
                        <td>
                           {{ transfer.get_status_display }}
                        </td>
                        <td><a href="/settlement/transfer/?key={{transfer.pk}}">view</a></td>
                    </tr>
                    {% endfor %}
                </table>

                <ul class="pagination">
                    {% if transfers.has_previous %}
                    <li><a href="?page={{ transfers.previous_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">&laquo;Previous</a></li>
                    {% endif %}

                    {% if transfers.has_next %}
                    <li><a href="?page={{ transfers.next_page_number }}{% if date_from %}&from={{ date_from }}{%endif%}{% if date_to %}&to={{ date_to }}{% endif %}">Next&raquo;</a></li>
                    {% endif %}
                </ul>

                <hr>

                <h4>Aggregate</h4>
                <table class="table table-condensed">
                    <tr>
                        <td>Total Amount Transfered</td>
                        <td>NGN {{ transfers_sum_in_naira|intcomma}}</td>
                    </tr>

                    <tr>
                        <td>Total Platform fees</td>
                        <td>{{ total_platform_fees|intcomma }} GBP</td>
                    </tr>

                    <tr>
                        <td>Total fees collected by Wema</td>
                        <td>{{ total_wema_fees|intcomma }} in {{ total_transactions }} payments</td>
                    </tr>

                    <tr>
                        <td>Total fess to Agent</td>
                        <td>{{ total_fees_collected_by_agent|intcomma }}</td>
                    </tr>

                    <tr>
                        <td>Total pending settlement</td>
                        <td>NGN {{ total_pending_settlement|intcomma }}</td>
                    </tr>
                </table>

            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->

        {% endblock %}