{% extends 'settlement/base.html'%}
        {% load humanize %}
        {% block header %}
             {% include 'settlement/includes/header.html' %}
        {% endblock %}

        {% block wrapper %}
            {% include 'settlement/includes/left-side.html'%}

       <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ title|title  }} id: {{ transfer.key }}
                <!--<small>Dashboard</small>-->
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <table class="table">
                <tr>
                    <td><strong>Title</strong></td>
                    <td><strong>Data</strong></td>
                </tr>

                <tr>
                    <td>Agent</td>
                    <td>{{ transfer.agent.username }}</td>
                 </tr>

                <tr>
                    <td>Time</td>
                    <td>{{ transfer.time|date}}</td>
                </tr>

                <tr>
                    <td>Amount in Currency</td>
                    <td>{{ transfer.agent.country.currency.abbreviation }}</td>
                </tr>

                <tr>
                    <td>Amount in Local Currency (NGN)</td>
                    <td>{{ transfer.amount_in_local_currency }}</td>
                </tr>

                <tr>
                    <td>Fees Collected</td>
                    <td>{{ transfer.fees_collected }}</td>
                </tr>

                <tr>
                    <td>Currency</td>
                    <td>{{ transfer.currency }}</td>
                </tr>

                <tr>
                    <td>Exchange Rate</td>
                    <td>{{ transfer.exchange_rate }}</td>
                </tr>

                <tr>
                    <td>Narration</td>
                    <td>{{ transfer.narration }}</td>
                </tr>

                <tr>
                    <td>OTP</td>
                    <td>{{ transfer.otp }}</td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td>{{ transfer.status }}</td>
                </tr>

                <tr>
                    <td>Senders Name</td>
                    <td>{{ transfer.senders_name }}</td>
                </tr>

                <tr>
                    <td>Senders Id Type</td>
                    <td>{{ transfer.senders_id_type }}</td>
                </tr>

                <tr>
                    <td>Senders Id Number</td>
                    <td>{{ transfer.senders_id_number }}</td>
                </tr>

                <tr>
                    <td>Senders Mobile</td>
                    <td>{{ transfer.senders_mobile }}</td>
                </tr>

                <tr>
                    <td>Senders Address</td>
                    <td>{{ transfer.senders_address }}</td>
                </tr>

                <tr>
                    <td>Senders Email</td>
                    <td>{{ transfer.senders_email }}</td>
                </tr>

                <tr>
                    <td>Beneficiary Bank Full Name</td>
                    <td>{{ transfer.beneficiary_bank_full_name }}</td>
                </tr>

                <tr>
                    <td>Beneficiary Bank Number</td>
                    <td>{{ transfer.beneficiary_bank_number }}</td>
                </tr>

                <tr>
                    <td>Beneficiary Mobile Number</td>
                    <td>{{ transfer.beneficiary_mobile_number}}</td>
                </tr>

                <tr>
                    <td>Beneficiary Bank Name</td>
                    <td>{{ transfer.beneficiary_bank_name }}</td>
                </tr>

                <tr>
                    <td>Platform Fees</td>
                    <td>{{ transfer.platform_fees }}</td>
                </tr>

                <tr>
                    <td>Agent Fees</td>
                    <td>{{ transfer.agent_fees }}</td>
                </tr>

                <tr>
                    <td>Settlement Status</td>
                    <td>{{ transfer.settlement_status }}</td>
                </tr>

                <tr>
                    <td>Settlement Date</td>
                    <td>{{ transfer.settlement_date }}</td>
                </tr>
                <tr>
                    <td>Wema Fee</td>
                    <td>{{ transfer.wema_fee }}</td>
                </tr>
            </table>

        </section><!-- /.content -->
    </aside><!-- /.right-side -->

        {% endblock %}