{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novapay - {{ flatpage.title }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'agent_portal/css/style.css' %}">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-navigation">
      <div class="container">
        {% include 'agent_portal/includes/brand.html' %}

        {% include 'agent_portal/includes/nav-out.html' %}
      </div>

    </nav>


    <div class="container-fluid" id="page-title">
      <div class="container">
        <h1>{{ flatpage.title }}</h1>
      </div>
    </div>

    <div class="container">
      <article>
          {{ flatpage.content }}
      </article>

    </div>


   {% include 'agent_portal/includes/footer.html' %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>